.header-block {
  display: grid;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  margin-bottom: 4rem;
}

.logo-block {
  display: flex;
  width: 100%;
  justify-content: space-between;

  * {
    transform: unset !important;
  }

  img {
    width: 100%;
    object-fit: contain;
    margin: 15px 0;
    transition: .2s;

    &:hover {
      opacity: .7;
    }
  }
}

.primary-menu {
  display: flex;
  justify-content: flex-end;
  gap: 15px;

  a {
    font-size: 18px;
    font-weight: 600;
  }
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}