@import "./assets/includes/variables";

* {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
  transition: .1s;
  color: #007bff;

  &:hover {
    color: #4360ff;
    transform: scale(1.05);
  }
}

.layout {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.card {
  padding: 2.5rem 1.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin: 2rem auto;
  background: #fff;
}

.create_post_container {
  display: grid;
  width: 50%;
  padding: 2rem;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 4rem;
}
.edit_img{
  display: flex;
  justify-content: flex-end;
  img{
    width: 20px;
  }
}
.create_new_post_block {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.form_cont {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.input_label_block {
  display: grid;
  grid-template-rows: 1fr 2fr;
  label {
    transition: (all 0.25s cubic-bezier(.53, .01, .35, 1.5));
    transform-origin: left center;
    color: rgb(124, 124, 124);
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
  }
}
.inputs {
  transition: (all 0.25s cubic-bezier(.53, .01, .35, 1.5));
  appearance: none;
  background-color: none;
  border: 1px solid rgb(82, 82, 82);
  line-height: 0;
  font-size: 17px;
  //width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  color: rgb(82, 82, 82);
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  margin-bottom: 1rem;
}
.posts_grid{
  display: grid;
  gap: 1rem;
}
.post_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap:3rem;
  align-items: center;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  .post_body{
    font-style: italic;
    font-weight:500;
  }
}
.add_post_btn{
  margin-bottom: 1rem;
}
button {
  background: transparent linear-gradient(90deg, #FF691C 0%, #FFB623 100%) 0% 0% no-repeat padding-box;
  border-radius: 60px;
  transition: (all 0.25s cubic-bezier(.53, .01, .35, 1.5));
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  border: 1px solid #FF691C;
  font-size: 15px;
  width: 150px;
  height: 40px;
  font-weight: bold;
  padding: 10px 15px;
  outline: none;
  text-decoration: none;

  &:hover {
    background: transparent linear-gradient(90deg, #FF691C 0%, #FFB623 100%) 0% 0% no-repeat padding-box;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: $primaryColor;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primaryColorTransparent;
}